# Expo
.expo/
.expo-shared/
.expo-packager/
.expo/web-build/

# Expo EAS
dist/
build/
*.tar.gz
eas-cache/
.easl/

# React Native / Metro
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.expo-bundle
.metro/
.metro-cache/
tmp/
temp/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local
*.key
*.pem
*.p12

# VSCode and IDEs
.vscode/
.idea/
*.swp
*.swo

# Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/.cxx/
*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Web builds (Expo Web)
web-build/

# Cache
.cache/
coverage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.jks
*.keystore
